<%- include ('partials/header') -%>


<div class="container">
	<div>
		<h1>
			Your List of Habits
		</h1>	
	</div>
	
	
	<div id="habitForm" >
		<form action="/home/habits/<%= currentUser._id %>" method="POST">
			<input type="text" id="addInput" name="habit">
			<button id="habitAdd" class="btn btn-primary">
				Add
			</button>
		</form>
	</div>	
	
	<div>
		<ul id="habits">	
			<% user.habits.forEach(function(habit){ %>
				<li id="habit">
					<%= habit.habit %>
					<form action="/home/habits/<%= habit._id %>?_method=DELETE" id="deleteForm" method="POST">
						<button class="btn" type="submit" value="Delete" id="habitDelete">Delete</button>
					</form>
					<br>
				</li>	
			<% }) %>
		</ul>
	</div>
	
	<!-- <div>
		<p class="instructions">
			Have you ever wondered if any of your late night habits effect other habits the next day? Or perhaps one habit effects another the very same day. Sometimes it's difficult to tell. Let me help. Choose two habits that you believe effect each other, then choose "next day" or "same day" option.
		</p>
		<form id="dropform">
			<select id="habit1" class="dropdown">
				<% user.habits.forEach(function(habit){ %>
				<option id="habit">
					<%= habit.habit %>
				</option>	
				<% }) %>
			</select>
			
			<select id="habit2" class="dropdown">
				<% user.habits.forEach(function(habit){ %>
				<option id="habit">
					<%= habit.habit %>
				</option>	
				<% }) %>
			</select>
			<input type="radio" name="same" value="Same Day"> Same Day
			<input type="radio" name="next" value="Next Day"> Nexy Day
			<button>Add Another</button>
		</form>
		
	</div> -->
	
</div>




	
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>



<%- include ('partials/footer') -%>